.formBtns{
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    flex-wrap: wrap;
}

.formLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
    position: relative;
}

@media(max-width: 730px){
    .formBtns{
        width: 100%;
        min-width: auto;
        justify-content: space-around;
    }
    
    .folderForm{
        padding: 0;
    }
}