.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 20px;
}

.h1-title{
  text-align: center;
  padding: 20px;
}

.alert-message{
  text-align: center;
  text-transform: uppercase;
  margin: 25vh auto;
  font-size: 18px;
  color: #fec34d;
  font-weight: 400;
}

mark{
  background: #fec34d;
}

.btns-wrapper{
  min-width: 200px;
  width: 20%;
  margin: 20px auto;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-around;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 20px 20px 20px;
}




